In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('df_transformed.csv')

In [3]:
time = pd.read_csv('frame.csv')

In [4]:
time = time['List Date']

In [5]:
time

0        5/24/2021
1         1/2/2021
2        5/17/2021
3        2/10/2021
4        2/16/2021
           ...
35579    1/24/2021
35580     2/3/2021
35581    3/15/2021
35582    4/20/2021
35583     4/1/2021
Name: List Date, Length: 35584, dtype: object

In [6]:
df = df.join(time)

In [7]:
df = df.drop('Unnamed: 0', axis = 1 )

In [8]:
df.head()

,Price,Yr Blt,# of Kitchens,# Rms,Age,Floor Area -Grand Total,Type,Total Bedrooms,Total Baths,Class,Days On Market,Lot Sz (Sq.Ft.),View,prop_transformed,type_transformed,transformed_area,List Date
0,415000,2005.0,1.0,6.0,16.0,766.0,Apartment/Condo,2.0,1.0,Residential Attached,13,0.0,No,Residential Attached,APTU,Cloverdale,5/24/2021
1,423000,1997.0,1.0,4.0,24.0,322.0,Apartment/Condo,0.0,1.0,Residential Attached,9,0.0,Yes,Residential Attached,APTU,Other,1/2/2021
2,423000,1996.0,1.0,4.0,25.0,396.0,Apartment/Condo,0.0,1.0,Residential Attached,18,0.0,Yes,Residential Attached,APTU,Vancouver West,5/17/2021
3,430000,2021.0,1.0,5.0,0.0,853.0,Apartment/Condo,2.0,2.0,Residential Attached,7,0.0,NaN,Residential Attached,APTU,Chilliwack,2/10/2021
4,430000,2014.0,1.0,7.0,7.0,1224.0,Apartment/Condo,2.0,1.0,Residential Attached,15,0.0,Yes,Residential Attached,APTU,Sardis,2/16/2021

In [9]:
df['List Date'] = pd.to_datetime(df['List Date'])

In [10]:
df.dtypes

Price                               int64
Yr Blt                            float64
# of Kitchens                     float64
# Rms                             float64
Age                               float64
Floor Area -Grand Total           float64
Type                               object
Total Bedrooms                    float64
Total Baths                       float64
Class                              object
Days On Market                      int64
Lot Sz (Sq.Ft.)                   float64
View                               object
prop_transformed                   object
type_transformed                   object
transformed_area                   object
List Date                  datetime64[ns]
dtype: object

In [11]:
df['List Date'] =  df['List Date'].apply(lambda x: x.toordinal())

In [12]:
df.head()

,Price,Yr Blt,# of Kitchens,# Rms,Age,Floor Area -Grand Total,Type,Total Bedrooms,Total Baths,Class,Days On Market,Lot Sz (Sq.Ft.),View,prop_transformed,type_transformed,transformed_area,List Date
0,415000,2005.0,1.0,6.0,16.0,766.0,Apartment/Condo,2.0,1.0,Residential Attached,13,0.0,No,Residential Attached,APTU,Cloverdale,737934
1,423000,1997.0,1.0,4.0,24.0,322.0,Apartment/Condo,0.0,1.0,Residential Attached,9,0.0,Yes,Residential Attached,APTU,Other,737792
2,423000,1996.0,1.0,4.0,25.0,396.0,Apartment/Condo,0.0,1.0,Residential Attached,18,0.0,Yes,Residential Attached,APTU,Vancouver West,737927
3,430000,2021.0,1.0,5.0,0.0,853.0,Apartment/Condo,2.0,2.0,Residential Attached,7,0.0,NaN,Residential Attached,APTU,Chilliwack,737831
4,430000,2014.0,1.0,7.0,7.0,1224.0,Apartment/Condo,2.0,1.0,Residential Attached,15,0.0,Yes,Residential Attached,APTU,Sardis,737837

In [15]:
import tensorflow as tf 
tf.__version__
tf.config.list_physical_devices('GPU')

[PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')]

In [16]:
from tensorflow.keras import Sequential    # import Sequential from tensorflow.keras
from tensorflow.keras.layers import Dense  # import Dense from tensorflow.keras.layers
from numpy.random import seed     # seed helps you to fix the randomness in the neural network.  
import tensorflow
model = Sequential()
model.add(Dense(10, activation='relu', input_shape=(n_features,)))
model.add(Dense(8, activation='relu'))
model.add(Dense(1))

NameError: name 'n_features' is not defined