In [1]:
import pandas as pd

In [2]:
df =pd.read_csv('df_short_test.csv')

In [3]:
df.head()

,Prop Type,S/A,Price,Yr Blt,TypeDwel,# of Kitchens,# Rms,Age,Floor Area -Grand Total,Area,...,Lot Sz (Sq.Ft.),View,Fireplaces,Parking Places - Total,No. Floor Levels,Dist to School/School Bus changed,Distance to Pub/Rapid Tr changed,Zoning changed,Realtor remarks sentiment classified,Public remarks sentiment classified
0,Residential Detached,Burke Mountain,1650000,202.0,HOUSE,2.0,10.0,1818.0,3916.0,Coquitlam,...,0.00,Yes,1.0,4.0,3.0,Close,Close,RS,positive,positive
1,Residential Attached,Coquitlam West,1386000,2013.0,OTHER,1.0,11.0,8.0,1737.0,Coquitlam,...,4031.00,No,1.0,3.0,3.0,Not Close,Not Close,RT,positive,positive
2,Residential Detached,Woodwards,1240000,1976.0,HOUSE,1.0,9.0,44.0,1885.0,Richmond,...,5554.00,No,1.0,4.0,2.0,Close,Close,RS,positive,positive
3,Residential Detached,Fraserview VE,1835000,1988.0,HOUSE,2.0,18.0,33.0,3495.0,Vancouver East,...,7604.76,No,2.0,4.0,2.0,Close,Close,other,positive,positive
4,Residential Attached,College Park PM,577500,2007.0,APTU,1.0,8.0,13.0,1129.0,Port Moody,...,0.00,Yes,1.0,2.0,1.0,Not Close,Not Close,RA,negative,positive

In [17]:
df.columns

Index(['Prop Type', 'S/A', 'Price', 'Yr Blt', 'TypeDwel', '# of Kitchens',
       '# Rms', 'Age', 'Floor Area -Grand Total', 'Area', 'Type',
       'Total Bedrooms', 'Total Baths', 'Days On Market', 'List Date',
       'Lot Sz (Sq.Ft.)', 'View', 'Fireplaces', 'Parking Places - Total',
       'No. Floor Levels', 'Dist to School/School Bus changed',
       'Distance to Pub/Rapid Tr changed', 'Zoning changed',
       'Realtor remarks sentiment classified',
       'Public remarks sentiment classified'],
      dtype='object')

In [25]:
df['List Date'].describe()

count      5451.000000
mean     737752.050633
std         156.875418
min      737425.000000
25%      737627.000000
50%      737787.000000
75%      737892.000000
max      737973.000000
Name: List Date, dtype: float64

In [26]:
df.describe()

,Price,Yr Blt,# of Kitchens,# Rms,Age,Floor Area -Grand Total,Total Bedrooms,Total Baths,Days On Market,List Date,Lot Sz (Sq.Ft.),Fireplaces,Parking Places - Total,No. Floor Levels
count,5.451000e+03,5451.000000,5451.000000,5451.000000,5451.000000,5451.000000,5451.000000,5451.000000,5451.000000,5451.000000,5421.000000,5450.000000,5451.000000,5451.000000
mean,1.212509e+06,2029.674005,1.174463,8.604660,28.811961,1618.287470,2.834159,2.426894,30.076683,737752.050633,3307.273878,0.773578,1.988993,1.734177
std,1.188874e+06,519.925851,0.532793,4.057048,71.755313,1136.469131,1.599316,1.357657,43.081825,156.875418,20243.592471,0.778755,1.805259,0.956851
min,4.000000e+05,202.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,737425.000000,0.000000,0.000000,0.000000,0.000000
25%,6.207500e+05,1986.000000,1.000000,6.000000,6.000000,846.500000,2.000000,2.000000,6.000000,737627.000000,0.000000,0.000000,1.000000,1.000000
50%,8.600000e+05,2004.000000,1.000000,7.000000,17.000000,1215.000000,2.000000,2.000000,13.000000,737787.000000,0.000000,1.000000,1.000000,1.000000
75%,1.398000e+06,2015.000000,1.000000,11.000000,35.000000,2121.500000,4.000000,3.000000,37.000000,737892.000000,4056.990000,1.000000,2.000000,2.000000
max,2.980000e+07,9999.000000,7.000000,30.000000,1818.000000,15371.000000,11.000000,12.000000,543.000000,737973.000000,801000.000000,5.000000,31.000000,23.000000

In [27]:
df.dtypes

Prop Type                                object
S/A                                      object
Price                                     int64
Yr Blt                                  float64
TypeDwel                                 object
# of Kitchens                           float64
# Rms                                   float64
Age                                     float64
Floor Area -Grand Total                 float64
Area                                     object
Type                                     object
Total Bedrooms                          float64
Total Baths                             float64
Days On Market                            int64
List Date                                 int64
Lot Sz (Sq.Ft.)                         float64
View                                     object
Fireplaces                              float64
Parking Places - Total                  float64
No. Floor Levels                        float64
Dist to School/School Bus changed        object
Distance to Pub/Rapid Tr changed         object
Zoning changed                           object
Realtor remarks sentiment classified     object
Public remarks sentiment classified      object
dtype: object

In [29]:
df['Zoning changed'].value_counts()

CD       1164
M        1122
other    1100
RS       1057
C         372
RT        289
RA        211
DD         95
HA         20
I          13
MC          7
DEOD        1
Name: Zoning changed, dtype: int64

In [30]:
df['Prop Type'].value_counts()

Residential Attached    3719
Residential Detached    1732
Name: Prop Type, dtype: int64